<h1>for-test works!</h1>
<div>
    <a
        [title]="'basic'"
        routerLink="basic"
    >
        basic
    </a> |
    <a
        [title]="'devexpress'"
        routerLink="devexpress"
    >
        devexpress
    </a> |
    <a
        [title]="'devexpress-component-control'"
        routerLink="devexpress-component-control"
    >
        devexpress-component-control
    </a> |
    <a
        [title]="'form-customization'"
        routerLink="form-customization"
    >
        form-customization
    </a>
</div>
<router-outlet></router-outlet>