<h1>for-demo works!</h1>
<div>
    <a
        [title]="'basic'"
        routerLink="basic"
    >
        basic
    </a> |
    <a
        [title]="'devexpress'"
        routerLink="devexpress"
    >
        devexpress
    </a> |
    <a
        [title]="'devexpress-component-control'"
        routerLink="devexpress-component-control"
    >
        devexpress-component-control
    </a> |
    <a
        [title]="'form-layout-customization'"
        routerLink="form-layout-customization"
    >
        form-customization
    </a> |
    <a
        [title]="'form-layout-customization'"
        routerLink="js-array"
    >
        js array and js debugging
    </a>
</div>

<router-outlet></router-outlet>