.container {
    display: flex;
    height: 100%;
}

.navbar {
    padding: 12px;
    border-right: 1px solid black;
    min-width: 120px;
    &__item {
        margin-bottom: 1rem;
    }
}

.content { 
    flex: 1;
    overflow: scroll;
    padding: 12px;
}