<p>dev-prac works!</p>
<div>

  <dx-select-box [dataSource]="dataSource" displayExpr="name" label="fruit" appDevDirective></dx-select-box>

  <!-- <form> -->
  <p>Enter a food name</p>
  <dx-text-box [(ngModel)]="input" placeholder="Enter a fruit" id="fruit-text" valueChangeEvent="keyup"
    required></dx-text-box>
  <p>Enter the color of the fruit you entered</p>
  <dx-text-box [(ngModel)]="color" placeholder="Enter the food's color" id="fruit-text" valueChangeEvent="keyup"
    required></dx-text-box>
  <button (click)="addFruit()">Add Fruit</button>
  <p *ngIf="alert" appAlertPara>Please fill the form</p>
  <!-- </form> -->
</div>
<hr>
<p>data grid</p>
<div>
  <dx-data-grid
    [dataSource]="dataSource"
    [editing]="{ allowUpdating: true, mode: 'popup'}"
    [columns]="['name', 'color', {
      editCellTemplate: 'edit-template'}]"
  >
  <div *dxTemplate="let x of 'edit-template'">
    <app-dev-text
      (click)="test(x.data)"
      [value]="x.data.name"
      (valueChanged)="x.data.name = $event"
      (valueChanged)="test($event)"
    ></app-dev-text>

    <app-dev-text
      (click)="test(x)"
      [value]="x.data.color"
      (valueChanged)="x.data.color = $event"
      (valueChanged)="test($event)"
    ></app-dev-text>

  </div>



  <!-- <app-dev-text
    *dxTemplate="let x of 'edit-template'"
    (click)="test(x)"
    [value]="x.values[1]"
    (valueChanged)="x.setValue($event)"
    (valueChanged)="test($event)"
  ></app-dev-text> -->

  </dx-data-grid>
</div>

